@page "/calculator"

<PageTitle>Calculator</PageTitle>

<h1>Calculator</h1>

<MudGrid Class="d-flex justify-center">
    <MudItem xs="6">
        <MudCard>
            <MudNumericField T="int" Placeholder="0" @bind-Value="numericField1"></MudNumericField>
            <MudNumericField T="int" Placeholder="0" @bind-Value="numericField2"></MudNumericField>
            <MudNumericField T="int" Placeholder="0" @bind-Value="numericFieldSum"></MudNumericField>

            <MudCardActions Class="d-flex justify-center">
                <MudGrid Spacing="10">
                    <MudItem>
                        <MudButton xs="3" @onclick="Addition">+</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="Substraction">-</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="Division">/</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="Multiplication">*</MudButton>
                    </MudItem>
                </MudGrid>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>

@code {
    private int numericField1 = 0;
    private int numericField2 = 0;
    private int numericFieldSum = 0;

    private void Addition(MouseEventArgs e)
    {
        numericFieldSum = numericField1 + numericField2;
    }

    private void Substraction(MouseEventArgs e)
    {
        numericFieldSum = numericField1 - numericField2;
    }

    private void Division(MouseEventArgs e)
    {
        numericFieldSum = numericField1 / numericField2;
    }

    private void Multiplication(MouseEventArgs e)
    {
        numericFieldSum = numericField1 * numericField2;
    }

}