@page "/calculator"

<PageTitle>Calculator</PageTitle>

<h1>Calculator</h1>

<MudGrid Class="d-flex justify-center">
    <MudItem xs="6">
        <MudCard>
            <MudNumericField T="decimal" Placeholder="0" bind-Value="numericField"></MudNumericField>
            <MudNumericField T="decimal" Placeholder="0" bind-Value="numericField"></MudNumericField>
            <MudNumericField T="decimal" Placeholder="0" bind-Value="numericField"></MudNumericField>
            
            <MudCardActions Class="d-flex justify-center">
                <MudGrid Spacing="10">
                    <MudItem>
                        <MudButton xs="3" @onclick="IncrementCount">1</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="IncrementCount">2</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="IncrementCount">3</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="IncrementCount">+</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="IncrementCount">4</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="IncrementCount">5</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="IncrementCount">6</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="IncrementCount">-</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="IncrementCount">7</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="IncrementCount">8</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" @onclick="IncrementCount">9</MudButton>
                    </MudItem> 
                    <MudItem>
                        <MudButton xs="3" @onclick="IncrementCount">=</MudButton>
                    </MudItem>
                </MudGrid>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>

@code {
    private int numericField = 0;

    private void IncrementCount()
    {
    }

}

