@page "/"


<PageTitle>Intro</PageTitle>

<h1>Nathan David Hill</h1>


<MudGrid Justify="Justify.Center">
    <MudItem xs="12">
        <MudCard Style="width:700px">
            <MudCardMedia Image="/NathanDavidHill.jpg" Height="550" Style="margin: 25px;"/>
            <MudCardContent>
                <MudText Typo="Typo.h5">Hello, world!</MudText> <br/>
                <MudText Typo="Typo.body1">
                    My name is Nathan and I love learning, traveling and growing in whatever way that I can! <br/>
                    Coding has been a passion that I truly want to build as a skill in order to enable me to make a living with this.
                </MudText> <br/>
                <MudText Typo="Typo.body2">CX Specialist and Computer Science Student.</MudText> <br/>
            </MudCardContent>

            <MudCardActions>
                <MudGrid>
                    <MudItem>
                        <MudButton xs="3" FullWidth="true" Href="https://github.com/NateDaveHill" target="_blank" Variant="Variant.Filled" EndIcon="@Icons.Custom.Brands.GitHub">GitHub</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" FullWidth="true" Href="https://www.frontendmentor.io/profile/NateDaveHill" target="_blank" Variant="Variant.Filled" EndIcon="@Icons.Custom.Brands.Linux">Frontend Mentor</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" FullWidth="true" Href="https://www.linkedin.com/in/nathandavidhill/" target="_blank" Variant="Variant.Filled" EndIcon="@Icons.Custom.Brands.LinkedIn">LinkedIn</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton xs="3" FullWidth="true" Href="https://www.instagram.com/ndh.jpg/" target="_blank" Variant="Variant.Filled" EndIcon="@Icons.Custom.Brands.Instagram">Instagram</MudButton>
                    </MudItem>
                </MudGrid>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>