@page "/tubeYou"

<PageTitle>TubeYou</PageTitle>

<h1>TubeYou</h1>

<video controls="controls" width="600" @ref="videoElement" class="video-player">
    <source src="@SourcePath" />
</video>

<MudGrid>
    <MudItem xs="12"></MudItem>
    <MudItem xs="4">
        <MudButton OnClick="@(() => ChangeVideoSource("/Video/DailyRoutine.mp4"))">
            <video controls="controls" muted="muted" width="250" height="150">
                <source src="\Video\DailyRoutine.mp4"/>
            </video>
        </MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton>
            <video controls="controls" disabled="true" muted="muted" width="250" height="150">
                <source src="\Video\FourThingsToIncreaseProductivity.mp4"/>
            </video>
        </MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton>
            <video controls="controls" muted="muted" width="250" height="150">
                <source src="\Video\M3ProProductiveCodingSetUp.mp4"/>
            </video>
        </MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton>
            <video controls="controls" muted="muted" width="250" height="150">
                <source src="\Video\StudyMotivation.mp4"/>
            </video>
        </MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton>
            <video controls="controls" muted="muted" width=" 250" height="150">
                <source src="\Video\BuildToDoAppWithBlazor.mp4"/>
            </video>
        </MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton>
            <video controls="controls" muted="muted" width="250" height="150">
                <source src="\Video\DailyRoutine.mp4" />
            </video>
        </MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton>
            <video controls="controls" muted="muted" width="250" height="150">
                <source src="\Video\M3ProProductiveCodingSetUp.mp4"/>
            </video>
        </MudButton>
    </MudItem>
    <MudItem xs="4">
        <MudButton>
            <video controls="controls" muted="muted" width="250" height="150">
                <source src="\Video\FourThingsToIncreaseProductivity.mp4"/>
            </video>
        </MudButton>
    </MudItem>
    <MudItem>
        <MudButton >
            <video controls="controls" muted="muted" width="250" height="150">
                <source src="\Video\StudyMotivation.mp4"/>
            </video>
        </MudButton>
    </MudItem>
</MudGrid>


@code {
    private string SourcePath { get; set; } = "/Video/BuildToDoAppWithBlazor.mp4";
    private ElementReference videoElement;
    [Inject]
    private IJSRuntime JSRuntime { get; set; }


    private async Task ChangeVideoSource(string newSourcePath)
    {
        SourcePath = newSourcePath;
        await InvokeAsync(StateHasChanged);
        await JSRuntime.InvokeVoidAsync("playVideo", videoElement);
    }

}